################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fablab.csproj

# SQL Server files
*.vsidx