<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/270f0353-b119-41ad-9675-ccf9318f2b8f/resourcegroups/Fablab20240113161239ResourceGroup/providers/Microsoft.Web/sites/FablabEquipment</ResourceId>
    <ResourceGroup>Fablab20240113161239ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/270f0353-b119-41ad-9675-ccf9318f2b8f/resourceGroups/Fablab20240113161239ResourceGroup/providers/Microsoft.ApiManagement/service/FablabEquipment/apis/Fablab</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fablabequipment.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>eb8e6186-7fa2-44d3-8745-e27c3a5fe98a</ProjectGuid>
    <MSDeployServiceURL>fablabequipment.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FablabEquipment</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$FablabEquipment</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>