<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ac457a14-9448-465d-aa3d-b8ed711935fd/resourceGroups/Equipment/providers/Microsoft.Web/sites/Fablab20240326170120</ResourceId>
    <ResourceGroup>Equipment</ResourceGroup>
    <ApiResourceId>/subscriptions/ac457a14-9448-465d-aa3d-b8ed711935fd/resourceGroups/Equipment/providers/Microsoft.ApiManagement/service/Fablabapi/apis/FablabEquipment</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fablab20240326170120.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>eb8e6186-7fa2-44d3-8745-e27c3a5fe98a</ProjectGuid>
    <MSDeployServiceURL>fablab20240326170120.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Fablab20240326170120</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Fablab20240326170120</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>